*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Flex";
}
/* spacing */
.margin-80{
    margin: 80px 80px;
}
/* color */
.bg-orange-0{
    background-color: #FEF3F2;
}
.bg-orange-10{
    background-color: #FEE5E2;
}
.bg-orange-20{
    background-color: #FDD1CB;
}
.bg-orange-30{
    background-color: #FBB0A6;
}
.bg-orange-40{
    background-color: #F68373;
}
.bg-orange-50{
    background-color: #EC5B47;
}
.bg-orange-60{
    background-color: #DB4834;
}
.bg-orange-70{
    background-color: #B6311F;
}
.bg-orange-80{
    background-color: #972C1D;
}
.bg-orange-90{
    background-color: #7D2A1F;
}
.bg-orange-95{
    background-color: #44120B;
}

.text-orange{
    color: #DB4834;
}
.text-black-40{
    color: #9E9392;
}
.text-black-80{
    color: #4A4242;
}
.text-black-95{
    color: #201D1D;
}

/* font styles*/
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-26{
    font-size: 26px;
}
.font-30{
    font-size: 30px;
}
.font-35{
    font-size: 35px;
}
.font-40{
    font-size: 40px;
}
.font-60{
    font-size: 60px;
}
.regular{
    font-weight: 400;
}
.semibold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.border-1{
    border: 1px solid black;
}
.border-orange{
    border: 1px solid #DB4834;
}

/* buttons */
.btn-1{
    color: white;
    background-color: #DB4834;
}
.btn-1:hover{
    color: white;
    background-color: #DB4834;
}
.btn-2{
    color: white;
    background-color: #F68373;
}
.btn-2:hover{
    color: white;
    background-color: #F68373;
}
.btn-size{
    height: 40px;
    width: 40px;
    background-color: #FAE4E1;
    color: black;
    border-radius: 0px;
}
.btn-size:hover{
    color: white;
    background-color: #DB4834;
}
.btn-coupon{
    color: #DB4834;
    background-color: #FAE4E1;
}
.btn-coupon:hover{
    color: #DB4834;
    background-color: #FAE4E1;
}
.decrement{
    color: #DB4834;
    font-size: 26px;
}
.decrement:hover{
    color: #DB4834;
}
.increment{
    color: #DB4834;
    font-size: 24px;
}
.increment:hover{
    color: #DB4834;
}
/* navbar */
.navbar{
    padding: 16px 70px;
}
.nav-close-icon{
    display: none;
}
.navbar-toggler[aria-expanded="true"] .nav-close-icon{
    display: block;
}
.navbar-toggler[aria-expanded="true"] .nav-open-icon{
    display: none;
}
header .nav-link{
    color: #4A4242;
    font-size: 20px;
}
header .nav-link:hover{
    color: #DB4834;
}
header .nav-link:active{
    color: #DB4834;
}
.carousel-hero-prev{
    color: black;
    background: #DB4834;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 100%;
    left: 40%;
}
.carousel-hero-next{
    color: black;
    background: #DB4834;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 100%;
    right: 40%;
}
.carousel-testimonial-prev{
    color: black;
    background: #DB4834;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    top: 80%;
    left: 70%;
}
.carousel-testimonial-next{
    color: black;
    background: #DB4834;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute; 
    top: 80%;
    right: 20%;
}
footer .nav-link{
    color: #201D1D;
}
footer .nav-link:hover{
    color: #201D1D;
}
footer .nav-link:focus{
    color: #201D1D;
}
main{
    padding: 0px 70px;
}
.section__hero{
    background-color: #FEF3F2;
    padding: 50px;
    /* height: 100vh; */
    margin-top: 30px;
    display: flex;
    align-items: center;

}
.section__hero__grid{
    margin: 80px 0px;
}
.section__testimonial{
    padding-bottom: 80px;
}
.products .nav-link{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.products .nav-link:hover{
    color: #DB4834;
    font-weight: bold;
    font-size: 16px;
}
.products .nav-link.nav-link:active{
    color: #DB4834;
    font-weight: bold;
    font-size: 16px;
}
.form-check-input{
    border-color: #DB4834;
}
.form-check-input:checked{
    background-color: #DB4834!important;
    border: 0;
}
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #DB4834!important;
}
.accordion-product{
    text-decoration: none;
    background-color: white!important;
    box-shadow: none;
    background-image: none!important; 
    color: #DB4834;
}
.accordion-product:focus{
    box-shadow: none;
    color: #DB4834;
}
.accordion-faq{
    text-decoration: none;
    background-color: #FEE5E2!important;
    box-shadow: none;
    background-image: none!important; 
    color: #201D1D;
    font-weight: 700;
    font-size: 30px;
}
.accordion-faq:focus{
    box-shadow: none;
    color: #201D1D;
}
.faq .accordion-item{
    background-color: #FEE5E2!important;
}
.faq .accordion-body{
    color: #201D1D;
    font-weight: 600;
    font-size: 20px;
}
.accordion-faq::after {   
    background-image: url(../images/faq-arrow-down.svg);
}
.accordion-faq:not(.collapsed)::after {
    background-image: url(../images/faq-arrow-up.svg);   
    transform: none;
    color: #201D1D!important;
}

.form-label{
    color: #DB4834;
}
.form-control{
    border: 1px solid #DB4834;
    color: #DB4834!important;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem #FDD1CB;
    color: #DB4834;
    border: 1px solid #DB4834;
}
.order__confirm{
    margin: 80px 80px;
}
/* Responsive */
/* @media only screen and (max-width: 568px) {
    
} */
@media only screen and (max-width: 768px) {
    main{
        padding: 0px 30px;
    }
    /* .font-16{
        font-size: 8px;
    }
    .font-18{
        font-size: 9px;
    }
    .font-20{
        font-size: 10px;
    } */
    .font-22{
        font-size: 11px;
    }
    .font-24{
        font-size: 12px;
    }
    .font-26{
        font-size: 12px;
    }
    .font-30{
        font-size: 15px;
    }
    .font-35{
        font-size: 18px;
    }
    .font-40{
        font-size: 20px;
    }
    .font-60{
        font-size: 30px;
    }
    .navbar{
        padding: 16px 24px;
    }
    .section__hero{
        padding: 30px;
    }
    .section__hero__grid{
        margin: 30px 0px;
    }
    .carousel-hero-prev{
        height: 20px;
        width: 20px;
        position: absolute;
        top: 100%;
        left: 40%;
    }
    .carousel-hero-next{
        height: 20px;
        width: 20px;
        position: absolute;
        top: 100%;
        right: 40%;
    }
    .carousel-testimonial-prev{
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        top: 105%;
        left: 40%;
    }
    .carousel-testimonial-next{
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        top: 105%;
        right: 40%;
    }
    footer .nav-link{
        color: #201D1D;
        text-decoration: underline;
    }
    .order__confirm{
        margin: 40px 0px;
    }
    .accordion-faq{
        font-size: 16px;
    }
    .faq .accordion-body{
        font-weight: 400;
        font-size: 14px;
    }
}